.skills-container {
    padding: 4rem 2rem;
    margin: 0 auto;
}

.skills-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    grid-template-columns: repeat(3, 1fr);

}

.skills-heading {
    text-align: center;
    font-size: 2rem;
    color: #f3f3f3;
    font-weight: 700;
    border-bottom: 3px solid #4299e1;
    padding-bottom: 0.5rem;
    display: inline-block;
    margin-bottom: 0, auto, 2rem, auto;
}

.skills-column {
    background-color: rgba(157, 157, 157, 0.1);
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 1.5rem;
}

.column-title {
    text-align: center;
    color: #f2f2f2;
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
    padding-bottom: 0.75rem;
    border-bottom: 2px solid #e2e8f0;
    font-weight: 600;
}

.skills-icon-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.skill-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.75rem;
    border-radius: 8px;
    transition: background-color .3s ease;
}

.skill-item:hover {
    background-color: #717171;
}

.skill-icon {
    margin-bottom: 0.5rem;
}
